<!--Tela Lista Telefonica -->
<div class="jumbotron">
			<h3>{{app}}</h3> 
	
			<ui-alert ng-if="contatos === 0" title="Lista Vazia!">
				Sem contatos carregados!
			</ui-alert> 
				
			<input  class="form-control" type="text" ng-model="criterioDeBusca" ng-model-options="{
				updateOn: 'default blur',debounce:{default:500,blur:0}}" placeholder="O que você está buscando?"/>
			<table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th>Tipo</th>
					<th>CPF/CNPJ</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th>Preço</th>
					<th>Data</th>
				</tr>	
				<tr ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao
				track by contato.id">
					<td><input type="checkbox" ng-model="contato.selecionado" ng-click="verificarContatoSelecionado(contatos)"/></td>
					<td><a href="#/detalhesContato/{{contato.id}}">{{::contato.nome | name | elipsis:10}}</a></td>
					<td>{{::contato.tipo}}</td>
					<td ng-if="contato.tipo === 'Pessoa Física'">{{contato.cpf}}</td>
					<td ng-if="contato.tipo === 'Pessoa Jurídica'">{{contato.cnpj}}</td>
					<td>{{::contato.telefone}}</td>
					<td>{{::contato.operadora.nome | lowercase}}</td>
					<td>{{::contato.operadora.precoComImposto | currency}}</td>
					<td>{{::contato.data | date:'EEEE dd/MM/yyyy HH:mm'}}</td>
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color':contato.cor}"></div></td>
				</tr>	
			</table>
			<hr/>
			<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="hasContatoSelecionado">Apagar Contatos</button>
		</div>